.background__color {
	display: flex;
	flex-direction: column;
	gap: 0;
}
.background__color__primary {
	background-color: #072639;
}
.background__color__secondary {
	background-color: #b74c2d;
}
.background__color__tertiary {
	background-color: #467c9f;
}
.background__color__black {
	background-color: #141313;
}
.background__color__grey {
	background-color: #707070;
}
.background__color__white {
	background-color: #ffffff;
}
.background__color__supporting_1 {
	background-color: #00c426;
}
.background__color__supporting_2 {
	background-color: #e6e2de;
}
.background__color__supporting_3 {
	background-color: #f0edec;
}
.background__color.padding__na {
	padding-top: 0;
}
.background__color.padding__sm {
	padding-top: 3.75rem;
}
.background__color.padding__md {
	padding-top: 8rem;
}
.background__color.padding__lg {
	padding-top: 10rem;
}

.acf-field-gallery.tessellated-gallery .acf-gallery-attachments {
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(6, 1fr);
}
.acf-field-gallery.tessellated-gallery .acf-gallery-attachments .acf-gallery-attachment {
	width: 100%;
}
.acf-field-gallery.tessellated-gallery .acf-gallery-attachments .acf-gallery-attachment:nth-child(8n-7), .acf-field-gallery.tessellated-gallery .acf-gallery-attachments .acf-gallery-attachment:nth-child(8n-5), .acf-field-gallery.tessellated-gallery .acf-gallery-attachments .acf-gallery-attachment:nth-child(8n-2), .acf-field-gallery.tessellated-gallery .acf-gallery-attachments .acf-gallery-attachment:nth-child(8n-1), .acf-field-gallery.tessellated-gallery .acf-gallery-attachments .acf-gallery-attachment:nth-child(8n) {
	grid-column: span 2;
}
.acf-field-gallery.tessellated-gallery .acf-gallery-attachments .acf-gallery-attachment:nth-child(8n-6) {
	grid-column: span 4;
	grid-row: span 2;
}
.acf-field-gallery.tessellated-gallery .acf-gallery-attachments .acf-gallery-attachment:nth-child(8n-4), .acf-field-gallery.tessellated-gallery .acf-gallery-attachments .acf-gallery-attachment:nth-child(8n-3) {
	grid-column: span 3;
}
.acf-field-gallery.tessellated-gallery .acf-gallery-attachments .acf-gallery-attachment img {
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	width: 100%;
}

.acf-field-select.colour-select select [value=primary] {
	background-color: #072639;
	color: #ffffff;
}
.acf-field-select.colour-select select [value=secondary] {
	background-color: #b74c2d;
	color: #ffffff;
}
.acf-field-select.colour-select select [value=tertiary] {
	background-color: #467c9f;
	color: #ffffff;
}
.acf-field-select.colour-select select [value=black] {
	background-color: #141313;
	color: #ffffff;
}
.acf-field-select.colour-select select [value=grey] {
	background-color: #707070;
	color: #ffffff;
}
.acf-field-select.colour-select select [value=white] {
	background-color: #ffffff;
	color: #141313;
}
.acf-field-select.colour-select select [value=supporting_1] {
	background-color: #00c426;
	color: #ffffff;
}
.acf-field-select.colour-select select [value=supporting_2] {
	background-color: #e6e2de;
	color: #141313;
}
.acf-field-select.colour-select select [value=supporting_3] {
	background-color: #f0edec;
	color: #141313;
}

.acf-flexible-content .layout {
	background: #e6e2de;
	margin: 0 0 1rem;
}
.acf-flexible-content .layout .acf-fc-layout-handle {
	align-items: center;
	display: flex;
	flex-direction: row;
	font-size: 14px;
	text-transform: uppercase;
}
.acf-flexible-content .layout .acf-fc-layout-handle .acf-fc-layout-order {
	background: #b74c2d;
	color: #ffffff;
	margin-right: 1rem;
}
.acf-flexible-content .layout .acf-fc-layout-handle .acfe-layout-title {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
}
.acf-flexible-content .layout .acf-fc-layout-handle .acf-block-preview {
	align-items: center;
	background: #f0edec;
	border: 1px solid #707070;
	color: #072639;
	display: flex;
	flex-direction: row;
	font-size: 0.8rem;
	text-transform: none;
}
.acf-flexible-content .layout .acf-fc-layout-handle .acf-block-preview > span {
	display: inline-block;
	font-weight: 400;
	padding: 0 3px;
}
.acf-flexible-content .layout .acf-fc-layout-handle .acf-block-preview > span:first-of-type {
	background: #707070;
	color: #ffffff;
}
.acf-flexible-content .layout .acf-fc-layout-handle .acf-block-preview > span.acf-block-preview-color {
	height: 100%;
	width: 1rem;
}