@import url("https://p.typekit.net/p.css?s=1&k=qpv8jkv&ht=tk&f=16353.37461.37466.42261.42262.42263.42264.42265.42266.42267.42268.42269&a=15461136&app=typekit&e=css");
@font-face {
	font-display: auto;
	font-family: "montserrat";
	font-stretch: normal;
	font-style: normal;
	font-weight: 400;
	src: url("https://use.typekit.net/af/32b0e4/00000000000000007735a185/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/32b0e4/00000000000000007735a185/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/32b0e4/00000000000000007735a185/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
}
@font-face {
	font-display: auto;
	font-family: "montserrat";
	font-stretch: normal;
	font-style: italic;
	font-weight: 400;
	src: url("https://use.typekit.net/af/ca31c7/00000000000000007735a18d/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"), url("https://use.typekit.net/af/ca31c7/00000000000000007735a18d/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"), url("https://use.typekit.net/af/ca31c7/00000000000000007735a18d/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
}
@font-face {
	font-display: auto;
	font-family: "montserrat";
	font-stretch: normal;
	font-style: normal;
	font-weight: 700;
	src: url("https://use.typekit.net/af/73dbad/00000000000000007735a197/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"), url("https://use.typekit.net/af/73dbad/00000000000000007735a197/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"), url("https://use.typekit.net/af/73dbad/00000000000000007735a197/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
}
@font-face {
	font-display: auto;
	font-family: "victorian-orchid";
	font-stretch: normal;
	font-style: italic;
	font-weight: 300;
	src: url("https://use.typekit.net/af/9f62ab/00000000000000007735b5d9/30/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=i3&v=3") format("woff2"), url("https://use.typekit.net/af/9f62ab/00000000000000007735b5d9/30/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=i3&v=3") format("woff"), url("https://use.typekit.net/af/9f62ab/00000000000000007735b5d9/30/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=i3&v=3") format("opentype");
}
@font-face {
	font-display: auto;
	font-family: "victorian-orchid";
	font-stretch: normal;
	font-style: normal;
	font-weight: 400;
	src: url("https://use.typekit.net/af/d4661f/00000000000000007735b5dc/30/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/d4661f/00000000000000007735b5dc/30/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/d4661f/00000000000000007735b5dc/30/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n4&v=3") format("opentype");
}
@font-face {
	font-display: auto;
	font-family: "victorian-orchid";
	font-stretch: normal;
	font-style: italic;
	font-weight: 400;
	src: url("https://use.typekit.net/af/23760c/00000000000000007735b5df/30/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=i4&v=3") format("woff2"), url("https://use.typekit.net/af/23760c/00000000000000007735b5df/30/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=i4&v=3") format("woff"), url("https://use.typekit.net/af/23760c/00000000000000007735b5df/30/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=i4&v=3") format("opentype");
}
@font-face {
	font-display: auto;
	font-family: "victorian-orchid";
	font-stretch: normal;
	font-style: normal;
	font-weight: 500;
	src: url("https://use.typekit.net/af/133a6b/00000000000000007735b5e2/30/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n5&v=3") format("woff2"), url("https://use.typekit.net/af/133a6b/00000000000000007735b5e2/30/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n5&v=3") format("woff"), url("https://use.typekit.net/af/133a6b/00000000000000007735b5e2/30/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n5&v=3") format("opentype");
}
@font-face {
	font-display: auto;
	font-family: "victorian-orchid";
	font-stretch: normal;
	font-style: italic;
	font-weight: 500;
	src: url("https://use.typekit.net/af/db8715/00000000000000007735b5e6/30/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=i5&v=3") format("woff2"), url("https://use.typekit.net/af/db8715/00000000000000007735b5e6/30/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=i5&v=3") format("woff"), url("https://use.typekit.net/af/db8715/00000000000000007735b5e6/30/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=i5&v=3") format("opentype");
}
@font-face {
	font-display: auto;
	font-family: "victorian-orchid";
	font-stretch: normal;
	font-style: normal;
	font-weight: 600;
	src: url("https://use.typekit.net/af/4588ae/00000000000000007735b5e9/30/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n6&v=3") format("woff2"), url("https://use.typekit.net/af/4588ae/00000000000000007735b5e9/30/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n6&v=3") format("woff"), url("https://use.typekit.net/af/4588ae/00000000000000007735b5e9/30/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n6&v=3") format("opentype");
}
@font-face {
	font-display: auto;
	font-family: "victorian-orchid";
	font-stretch: normal;
	font-style: italic;
	font-weight: 600;
	src: url("https://use.typekit.net/af/a4887d/00000000000000007735b5ed/30/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=i6&v=3") format("woff2"), url("https://use.typekit.net/af/a4887d/00000000000000007735b5ed/30/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=i6&v=3") format("woff"), url("https://use.typekit.net/af/a4887d/00000000000000007735b5ed/30/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=i6&v=3") format("opentype");
}
@font-face {
	font-display: auto;
	font-family: "victorian-orchid";
	font-stretch: normal;
	font-style: normal;
	font-weight: 700;
	src: url("https://use.typekit.net/af/7bb23a/00000000000000007735b5f2/30/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n7&v=3") format("woff2"), url("https://use.typekit.net/af/7bb23a/00000000000000007735b5f2/30/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n7&v=3") format("woff"), url("https://use.typekit.net/af/7bb23a/00000000000000007735b5f2/30/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n7&v=3") format("opentype");
}
@font-face {
	font-display: auto;
	font-family: "victorian-orchid";
	font-stretch: normal;
	font-style: italic;
	font-weight: 700;
	src: url("https://use.typekit.net/af/874c57/00000000000000007735b5f8/30/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=i7&v=3") format("woff2"), url("https://use.typekit.net/af/874c57/00000000000000007735b5f8/30/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=i7&v=3") format("woff"), url("https://use.typekit.net/af/874c57/00000000000000007735b5f8/30/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=i7&v=3") format("opentype");
}
.tk-montserrat {
	font-family: "montserrat", sans-serif;
}

.tk-victorian-orchid {
	font-family: "victorian-orchid", serif;
}

.give-form-templates {
	margin: 0;
}
.give-form-templates .give-form-wrap,
.give-form-templates .give-receipt-wrap {
	background-color: transparent;
	border-radius: 0;
	box-shadow: none;
	margin: 0;
	max-width: unset;
}
.give-form-templates .give-form-wrap .give-form-navigator,
.give-form-templates .give-receipt-wrap .give-form-navigator {
	background-color: transparent;
}
.give-form-templates .give-form-wrap .give-form-navigator .back-btn,
.give-form-templates .give-receipt-wrap .give-form-navigator .back-btn {
	align-items: center;
	border: 2px solid #707070;
	border-radius: 0.5rem;
	display: flex;
	justify-content: center;
	padding: 1rem;
}
.give-form-templates .give-form-wrap .give-form-navigator .back-btn i,
.give-form-templates .give-receipt-wrap .give-form-navigator .back-btn i {
	font-size: 1rem;
}
.give-form-templates .give-form-wrap .give-form-navigator .back-btn::after,
.give-form-templates .give-receipt-wrap .give-form-navigator .back-btn::after {
	content: "Back";
	font-size: 1rem;
	line-height: 1;
	padding-left: 0.5rem;
}
.give-form-templates .give-form-wrap .give-form-navigator .title,
.give-form-templates .give-receipt-wrap .give-form-navigator .title {
	color: #072639;
	font-family: "swear-display", serif;
	font-size: 2.1875rem;
	font-weight: 600;
	letter-spacing: 0;
	line-height: 2.625rem;
	margin: 0;
	max-width: unset;
	text-align: center;
}
.give-form-templates .give-form-wrap .give-section,
.give-form-templates .give-receipt-wrap .give-section {
	row-gap: 1rem;
}
.give-form-templates .give-form-wrap .give-section.introduction .headline,
.give-form-templates .give-receipt-wrap .give-section.introduction .headline {
	color: #072639;
	font-family: "swear-display", serif;
	font-size: 2.1875rem;
	font-weight: 600;
	letter-spacing: 0;
	line-height: 2.625rem;
	margin: 0;
	max-width: unset;
	text-align: left;
}
.give-form-templates .give-form-wrap .give-section.introduction .seperator,
.give-form-templates .give-receipt-wrap .give-section.introduction .seperator {
	display: none;
}
.give-form-templates .give-form-wrap .give-section.introduction .description,
.give-form-templates .give-receipt-wrap .give-section.introduction .description {
	color: #707070;
	font-family: "retail-variable", sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	margin: 0;
	text-align: left;
}
.give-form-templates .give-form-wrap .give-section.introduction .income-stats,
.give-form-templates .give-receipt-wrap .give-section.introduction .income-stats {
	background-color: transparent;
}
.give-form-templates .give-form-wrap .give-section.introduction .income-stats > div:first-of-type,
.give-form-templates .give-receipt-wrap .give-section.introduction .income-stats > div:first-of-type {
	border-right-color: #467c9f;
}
.give-form-templates .give-form-wrap .give-section.introduction .income-stats > div:last-of-type,
.give-form-templates .give-receipt-wrap .give-section.introduction .income-stats > div:last-of-type {
	border-left-color: #467c9f;
}
.give-form-templates .give-form-wrap .give-section.introduction .income-stats .number,
.give-form-templates .give-form-wrap .give-section.introduction .income-stats .text,
.give-form-templates .give-receipt-wrap .give-section.introduction .income-stats .number,
.give-form-templates .give-receipt-wrap .give-section.introduction .income-stats .text {
	color: #072639;
	font-family: "swear-display", serif;
	font-size: 1.1875rem;
	font-weight: 500;
	letter-spacing: 0;
	line-height: 1.625rem;
}
.give-form-templates .give-form-wrap .give-section.introduction .income-stats .goal,
.give-form-templates .give-receipt-wrap .give-section.introduction .income-stats .goal {
	display: none;
}
.give-form-templates .give-form-wrap .give-section.introduction .progress-bar .give-progress-bar,
.give-form-templates .give-receipt-wrap .give-section.introduction .progress-bar .give-progress-bar {
	border: 2px solid #072639;
	border-radius: 0rem;
	overflow: clip;
	background-color: #072639;
	box-shadow: none;
	box-sizing: border-box;
	height: 1rem;
	margin: 0;
}
.give-form-templates .give-form-wrap .give-section.introduction .progress-bar .give-progress-bar span,
.give-form-templates .give-receipt-wrap .give-section.introduction .progress-bar .give-progress-bar span {
	background: #467c9f !important;
	border-radius: 0;
}
.give-form-templates .give-form-wrap .give-section.choose-amount .content,
.give-form-templates .give-receipt-wrap .give-section.choose-amount .content {
	color: #707070;
	font-family: "retail-variable", sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	margin: 1rem 0 0;
	text-align: left;
}
.give-form-templates .give-form-wrap .give-section.choose-amount .give-donation-levels-wrap,
.give-form-templates .give-receipt-wrap .give-section.choose-amount .give-donation-levels-wrap {
	gap: 1rem;
	margin: 0 !important;
}
.give-form-templates .give-form-wrap .give-section.choose-amount .give-donation-levels-wrap .give-donation-level-btn,
.give-form-templates .give-receipt-wrap .give-section.choose-amount .give-donation-levels-wrap .give-donation-level-btn {
	align-items: center;
	background-color: transparent !important;
	border: 2px solid #072639 !important;
	color: #072639 !important;
	display: flex !important;
	font-size: 1.25rem;
	gap: 0.5rem;
	height: 100%;
	justify-content: center;
	margin: 0;
	padding: 2rem;
	transition: all ease 0.3s;
	width: 100%;
}
.give-form-templates .give-form-wrap .give-section.choose-amount .give-donation-levels-wrap .give-donation-level-btn .currency,
.give-form-templates .give-receipt-wrap .give-section.choose-amount .give-donation-levels-wrap .give-donation-level-btn .currency {
	margin: 0;
}
.give-form-templates .give-form-wrap .give-section.choose-amount .give-donation-levels-wrap .give-donation-level-btn:hover, .give-form-templates .give-form-wrap .give-section.choose-amount .give-donation-levels-wrap .give-donation-level-btn:focus, .give-form-templates .give-form-wrap .give-section.choose-amount .give-donation-levels-wrap .give-donation-level-btn.give-default-level,
.give-form-templates .give-receipt-wrap .give-section.choose-amount .give-donation-levels-wrap .give-donation-level-btn:hover,
.give-form-templates .give-receipt-wrap .give-section.choose-amount .give-donation-levels-wrap .give-donation-level-btn:focus,
.give-form-templates .give-receipt-wrap .give-section.choose-amount .give-donation-levels-wrap .give-donation-level-btn.give-default-level {
	background-color: #467c9f !important;
	border: 2px solid #467c9f !important;
	box-shadow: none;
	color: #ffffff !important;
	filter: none;
	outline: none;
}
.give-form-templates .give-form-wrap .give-section.choose-amount .give-total-wrap .give-donation-amount:focus-within,
.give-form-templates .give-receipt-wrap .give-section.choose-amount .give-total-wrap .give-donation-amount:focus-within {
	border-color: #072639 !important;
}
.give-form-templates .give-form-wrap .give-section.payment .heading,
.give-form-templates .give-receipt-wrap .give-section.payment .heading {
	color: #072639;
	font-family: "swear-display", serif;
	font-size: 1.375rem;
	font-style: normal;
	font-weight: 500;
	letter-spacing: 0.025em;
	line-height: 1.625rem;
}
.give-form-templates .give-form-wrap .give-section.payment .subheading,
.give-form-templates .give-receipt-wrap .give-section.payment .subheading {
	color: #707070;
	font-family: "retail-variable", sans-serif;
	font-size: 1rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1.5;
}
.give-form-templates .give-form-wrap .give-section.payment .form-row .give-input,
.give-form-templates .give-receipt-wrap .give-section.payment .form-row .give-input {
	color: #707070;
	font-family: "retail-variable", sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
}
.give-form-templates .give-form-wrap .give-section.payment .form-row .give-input:focus,
.give-form-templates .give-receipt-wrap .give-section.payment .form-row .give-input:focus {
	border-color: #072639 !important;
}
.give-form-templates .give-form-wrap .give-section.payment .give-donation-summary-section .back-btn,
.give-form-templates .give-receipt-wrap .give-section.payment .give-donation-summary-section .back-btn {
	color: #e31d1d;
}
.give-form-templates .give-form-wrap .give-section.payment .give-donation-summary-section svg path,
.give-form-templates .give-receipt-wrap .give-section.payment .give-donation-summary-section svg path {
	fill: #e31d1d;
}
.give-form-templates .give-form-wrap .give-section.payment .give-donation-summary-section .give-donation-summary-table-wrapper,
.give-form-templates .give-receipt-wrap .give-section.payment .give-donation-summary-section .give-donation-summary-table-wrapper {
	background-color: transparent;
}
.give-form-templates .give-form-wrap .give-section.payment .give-donation-summary-section .give-donation-summary-table-wrapper tr,
.give-form-templates .give-receipt-wrap .give-section.payment .give-donation-summary-section .give-donation-summary-table-wrapper tr {
	border-color: #072639;
}
.give-form-templates .give-form-wrap .give-section.payment .give-donation-summary-section .give-donation-summary-table-wrapper tr td,
.give-form-templates .give-form-wrap .give-section.payment .give-donation-summary-section .give-donation-summary-table-wrapper tr th,
.give-form-templates .give-receipt-wrap .give-section.payment .give-donation-summary-section .give-donation-summary-table-wrapper tr td,
.give-form-templates .give-receipt-wrap .give-section.payment .give-donation-summary-section .give-donation-summary-table-wrapper tr th {
	color: #707070;
}
.give-form-templates .give-form-wrap .give-section.payment .give-donation-summary-section .give-donation-summary-table-wrapper tr td:first-child,
.give-form-templates .give-form-wrap .give-section.payment .give-donation-summary-section .give-donation-summary-table-wrapper tr th:first-child,
.give-form-templates .give-receipt-wrap .give-section.payment .give-donation-summary-section .give-donation-summary-table-wrapper tr td:first-child,
.give-form-templates .give-receipt-wrap .give-section.payment .give-donation-summary-section .give-donation-summary-table-wrapper tr th:first-child {
	color: #072639;
}
.give-form-templates .give-form-wrap .give-section.receipt .headline,
.give-form-templates .give-receipt-wrap .give-section.receipt .headline {
	color: #072639;
	font-family: "swear-display", serif;
	font-size: 2.1875rem;
	font-weight: 600;
	letter-spacing: 0;
	line-height: 2.625rem;
	margin: 0;
	max-width: unset;
	text-align: center;
}
.give-form-templates .give-form-wrap .give-section.receipt .message,
.give-form-templates .give-receipt-wrap .give-section.receipt .message {
	color: #707070;
	font-family: "retail-variable", sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	margin: 1rem 0 0;
	text-align: left;
}
.give-form-templates .give-form-wrap .give-section.receipt .details,
.give-form-templates .give-receipt-wrap .give-section.receipt .details {
	margin: 0;
}
.give-form-templates .give-form-wrap .give-section.receipt .details .headline,
.give-form-templates .give-receipt-wrap .give-section.receipt .details .headline {
	font-size: 1.375rem;
	line-height: 1.625rem;
	text-align: left;
}
.give-form-templates .give-form-wrap .give-section.receipt .details .details-row.total,
.give-form-templates .give-receipt-wrap .give-section.receipt .details .details-row.total {
	background: transparent;
	border-top: 1px solid #467c9f;
}
.give-form-templates .give-form-wrap .give-section.receipt .details .details-row i,
.give-form-templates .give-form-wrap .give-section.receipt .details .details-row .detail,
.give-form-templates .give-receipt-wrap .give-section.receipt .details .details-row i,
.give-form-templates .give-receipt-wrap .give-section.receipt .details .details-row .detail {
	color: #072639;
	font-size: 1rem;
	font-weight: 600;
	line-height: 1.5;
}
.give-form-templates .give-form-wrap .give-section.receipt .details .details-row .detail,
.give-form-templates .give-receipt-wrap .give-section.receipt .details .details-row .detail {
	font-family: "retail-variable", sans-serif;
}
.give-form-templates .give-form-wrap .give-section.receipt .details .details-row .value,
.give-form-templates .give-receipt-wrap .give-section.receipt .details .details-row .value {
	color: #707070;
	font-family: "retail-variable", sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
}
.give-form-templates .give-form-wrap .give-section .give-btn.advance-btn, .give-form-templates .give-form-wrap .give-section .give-btn.give-submit,
.give-form-templates .give-receipt-wrap .give-section .give-btn.advance-btn,
.give-form-templates .give-receipt-wrap .give-section .give-btn.give-submit {
	background: #e31d1d !important;
	border: 1px solid #e31d1d !important;
	border-radius: 0.5rem;
	box-sizing: border-box;
	color: #ffffff;
	display: inline-block;
	font-family: "retail-variable", sans-serif;
	font-size: 0.75rem;
	line-height: 1rem;
	margin: 1rem auto;
	min-width: unset;
	padding: 0.5rem 1.75rem !important;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 0.3s ease-in-out;
	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content;
}
.give-form-templates .give-form-wrap .give-section .give-btn.advance-btn:hover, .give-form-templates .give-form-wrap .give-section .give-btn.give-submit:hover,
.give-form-templates .give-receipt-wrap .give-section .give-btn.advance-btn:hover,
.give-form-templates .give-receipt-wrap .give-section .give-btn.give-submit:hover {
	filter: brightness(0.9);
}
.give-form-templates .give-form-wrap .form-footer,
.give-form-templates .give-receipt-wrap .form-footer {
	margin-top: 1rem;
}
.give-form-templates .give-form-wrap .form-footer .navigator-tracker .step-tracker,
.give-form-templates .give-receipt-wrap .form-footer .navigator-tracker .step-tracker {
	background-color: #072639;
}
.give-form-templates .give-form-wrap .form-footer .navigator-tracker .step-tracker.current,
.give-form-templates .give-receipt-wrap .form-footer .navigator-tracker .step-tracker.current {
	background-color: #e31d1d;
}
.give-form-templates .give-form-wrap .form-footer .secure-notice,
.give-form-templates .give-receipt-wrap .form-footer .secure-notice {
	background-color: transparent;
	border-top: 1px solid #072639;
	color: #072639;
}
@media only screen and (max-width: 37.5em){
	.give-form-templates .give-form-wrap,
	.give-form-templates .give-receipt-wrap {
		padding-top: 4rem;
	}
	.give-form-templates .give-form-wrap .give-form-navigator .back-btn,
	.give-form-templates .give-receipt-wrap .give-form-navigator .back-btn {
		top: -4rem;
	}
	.give-form-templates .give-form-wrap .give-form-navigator .title,
	.give-form-templates .give-receipt-wrap .give-form-navigator .title {
		font-size: 1.9rem;
		line-height: 2.2rem;
	}
	.give-form-templates .give-form-wrap .give-section.introduction .headline,
	.give-form-templates .give-receipt-wrap .give-section.introduction .headline {
		font-size: 1.9rem;
		line-height: 2.2rem;
	}
	.give-form-templates .give-form-wrap .give-section.receipt .headline,
	.give-form-templates .give-receipt-wrap .give-section.receipt .headline {
		font-size: 1.9rem;
		line-height: 2.2rem;
	}
}