$color-primary: #072639;
$color-secondary: #b74c2d;
$color-tertiary: #467c9f;
$color-white: #ffffff;
$color-black: #000000;
$color-grey: #707070;
$color-supporting-1: #00c426;
$color-supporting-2: #e6e2de;
$color-supporting-3: #f0edec;
$color-form-inputs: #ded8d3;
$color-error: $color-secondary;
$color-bg-light: #e6e2df;

$font-primary: 'retail-variable', sans-serif;
$font-secondary: 'swear-display', serif;

$gutter-width: 3.75rem;
$container-margin: 5.9375rem;
$grid-width: 73.5rem;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 54em; // 800px;
$bp-small: 37.5em; // 600px;

$page-border-size: 1.5rem;
$page-border-color: $color-white;

$background-color: $color-supporting-3;
$font-color: $color-grey;

$color-footer: $color-secondary;
$color-footer-dark: $color-secondary;

$default-font-size: 1rem;
$paragraph-spacing: 1.5rem;

$nav-menu-height: 5.3125rem;
