.section-image {
  .image {
    &__single {
      &.image__bordered {
        img {
          @include shadow($color-black);
          @include border;
        }
      }
    }

    &__sm {
      grid-column: 5 / -5;

      @include respond(tab-port) {
        grid-column: 4 / -4;
      }

      @include respond(phone) {
        grid-column: 3 / -3;
      }
    }

    &__md {
      grid-column: 3 / -3;

      @include respond(tab-port) {
        grid-column: 1 / -1;
      }
    }

    &__lg {
      grid-column: 1 / -1;
    }

    &__styled {
      a {
        aspect-ratio: 9 / 7;
        width: 100%;
      }

      img {
        @include shadow($color-black);
        @include border;
        height: 100%;
        object-fit: cover;
        width: 100%;
      }
    }

    &__grid {
      .navigation {
        display: none;
      }

      a {
        align-items: center;
        display: flex;
        justify-content: center;
      }

      @include respond(tab-port) {
        &__collapse {
          .grid {
            aspect-ratio: 9 / 7;
            position: relative;
            grid-template-columns: 1fr;
          }

          .navigation {
            display: flex;
          }

          a {
            height: auto;
            left: 0;
            opacity: 0;
            position: absolute;
            top: 0;
            transition: opacity 0.3s ease;
            width: 100%;

            &.active {
              opacity: 1;
            }
          }
        }
      }
    }
  }

  img {
    height: auto;
    mix-blend-mode: var(--blend-mode);
    width: 100%;
  }
}

.section-image-gallery {
  .image-gallery {
    &__tessellated {
      &.grid {
        column-gap: 1rem;
        row-gap: 1rem;
      }

      .image-gallery__image {
        &:nth-child(8n - 7),
        &:nth-child(8n - 5),
        &:nth-child(8n - 2),
        &:nth-child(8n - 1),
        &:nth-child(8n) {
          grid-column: span 2;
        }

        &:nth-child(8n - 6) {
          grid-column: span 4;
          grid-row: span 2;
        }

        &:nth-child(8n - 4),
        &:nth-child(8n - 3) {
          grid-column: span 3;
        }
      }
    }

    &__image {
      display: block;

      img {
        height: 100%;
        object-fit: cover;
        width: 100%;
      }

      .additional {
        display: none;
      }
    }
  }

  .load-more {
    color: $color-primary;
    display: block;
    grid-column: center-start / center-end;
    margin: 0 auto;
    text-transform: uppercase;
  }
}
