.section-leading-text {
  & > .grid {
    row-gap: 0;

    @include respond(tab-port) {
      row-gap: var(--grid-gap);
    }
  }

  .image {
    img {
      max-width: 100%;
    }
  }

  .sticky-content {
    display: flex;
    flex-direction: column;
    position: sticky;
    row-gap: 2rem;
    top: 20vh;
  }

  .testimonial {
    color: $color-tertiary;
    font-style: italic;
    font-weight: 300;

    .author {
      color: $color-primary;
      font-style: normal;
      font-weight: 400;
    }
  }
}
