.navigation {
  align-items: center;
  column-gap: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1rem;

  &__box {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 2rem;
    justify-content: center;
    width: 2rem;
  }

  &__previous {
    transform: rotate(180deg);
  }
}
.nav-button {
  padding-bottom: 5rem;
  .button {
    margin-top: 2rem;
  }
}
