.read-more-block {
  &.border-bottom {
    border-bottom: 1px solid $color-secondary;
    padding-bottom: 2rem;
  }

  .read-more-content {
    display: none;

    p {
      &:last-child {
        margin-bottom: $paragraph-spacing;
      }
    }
  }
}
