body {
  background-color: $color-supporting-3;
  padding: $page-border-size;
  @include respond(tab-port) {
    padding: 1rem;
  }
}

.site {
  // background-color: $background-color;
  overflow: clip;
  position: relative;

  &::before {
    background-color: $color-supporting-3;
    content: '';
    display: block;
    height: 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
  }

  .page-layout {
    position: relative;
    z-index: 1;
  }
}

section {
  background-color: var(--background-color);
  scroll-margin-top: 10rem;
  &.light {
    background-color: $color-bg-light;
    padding: 8rem 0;
    @include respond(tab-port) {
      padding: 1rem;
    }
  }
  &.dark {
    background-color: $color-secondary;
    padding: 8rem 0;
    @include respond(tab-port) {
      padding: 1rem;
    }
    p,
    .heading {
      color: $color-white;
    }
    .heading__border {
      border-color: $color-white;
    }
    .button {
      border: 1px solid $color-white !important;
    }
  }
}
.light + .light {
  padding-top: 0rem;
}

.bread:has(~ .dark) {
  background-color: $color-secondary;
  margin-bottom: 0;
  margin-top: 1rem;
  padding-top: 2rem;
  @include respond(tab-port) {
    padding: 2rem 1rem 0 1rem;
  }
  a {
    color: $color-white;
  }
  span,
  .breadcrumbs .breadcrumb_last {
    color: $color-white;
  }
}
.fade-target {
  img,
  video {
    &.fade {
      opacity: 1;
      transition: all 0.5s ease-in-out;
    }
  }

  &:hover {
    img,
    video {
      &.fade {
        opacity: 1;
      }
    }
  }
}

:root {
  @include css-var(--grid-gap, $gutter-width);
  @include css-var(--container-margin, $container-margin);

  @include respond(tab-port) {
    @include css-var(--grid-gap, 2rem);
    @include css-var(--container-margin, 2rem);
  }

  @include respond(phone) {
    @include css-var(--grid-gap, 1rem);
    @include css-var(--container-margin, 1rem);
  }

  @include css-var(--background-color, transparent);
}
