.svg {
  &__arrow {
    fill: $color-secondary;

    &__small {
      fill: $color-white;
    }
  }

  &__burger {
    fill: $color-white;
  }

  &__chevron {
    fill: $color-white;
  }

  &__cross {
    fill: $color-white;
  }
}
